<!-- _includes/doc-card.html -->
<div class="doc-card">
    <img src="{{ include.doc.image | default: '/assets/images/doc-placeholder.jpg' | relative_url }}" alt="{{ include.doc.title }}" class="doc-card__image">
    
    <div class="doc-card__content">
      <h3 class="doc-card__title">{{ include.doc.title }}</h3>
      <p class="doc-card__desc">{{ include.doc.description }}</p>
      
      <div class="doc-card__meta">
        <div class="doc-card__tags">
          {% for tag in include.doc.tags %}
            <span class="doc-card__tag">{{ tag }}</span>
          {% endfor %}
        </div>
        
        <span>{{ include.doc.date | date: "%b %d, %Y" }}</span>
      </div>
    </div>
  </div>