<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  {% include head.html %}
  
  <body>
    {% include particle-network.html %}
    {% include header.html %}
    
    <main class="main-content">
      {{ content }}
    </main>
    
    {% include footer.html %}
    
    <!-- JavaScript -->
    <script src="{{ '/assets/js/particles.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/animations.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
  </body>
</html>